node-red-flow.json
[
    {
        "id": "mqtt_input",
        "type": "mqtt in",
        "z": "flow1",
        "name": "MQTT Input - Jyo/data",
        "topic": "Jyo/data",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 150,
        "y": 100,
        "wires": [["json_parse", "debug_node"]]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "x": 350,
        "y": 100,
        "wires": [["store_data", "http_response"]]
    },
    {
        "id": "store_data",
        "type": "function",
        "z": "flow1",
        "name": "Store Latest Data",
        "func": "// Store the latest data in flow context\nflow.set('latestData', msg.payload);\nreturn msg;",
        "x": 550,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "http_endpoint",
        "type": "http in",
        "z": "flow1",
        "name": "HTTP Endpoint",
        "url": "/livedata",
        "method": "get",
        "x": 150,
        "y": 200,
        "wires": [["get_stored_data"]]
    },
    {
        "id": "get_stored_data",
        "type": "function",
        "z": "flow1",
        "name": "Get Stored Data",
        "func": "// Retrieve stored data and return it\nconst data = flow.get('latestData') || {\n    BatteryVoltage: 0,\n    OilPressure: 0,\n    EngineSpeed: 0\n};\n\nmsg.payload = data;\nreturn msg;",
        "x": 350,
        "y": 200,
        "wires": [["http_response"]]
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "flow1",
        "name": "HTTP Response",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "flow1",
        "name": "Debug MQTT",
        "active": true,
        "x": 350,
        "y": 150,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
